@import "mixin";
@import "color";
@import "font";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
}

.clear {
	clear: both;
}

section {

	&#header {
		width: 100%;
		position: fixed;
		z-index: 10;
		@include transition(all 0.3s ease-in-out);

		&.scroll {
			background-color: rgba($footer, .9);
		}
		@media screen and(max-width: 1000px) {
			background-color: rgba($footer, .9);
			position: relative;
		}
		nav {
			height: 50px;
			line-height: 50px;
			width: 960px;
			margin: auto;
			@media screen and(max-width: 1000px) {
				width: 100%;
			}
			.hamburger {
				background: red;
				width: 40px;
				height: 40px;
				margin: 5px;
				display: none;
				@media screen and(max-width: 1000px) {
					display: inline-block;
				}
			}
			p {
				/*@include text-shadow(black);*/
				color: #fff;
				font-family: captureIT;
				letter-spacing: 5px;
				font-size: 2.5rem;
				display: inline-block;
				margin: 0;
				@media screen and(max-width: 1000px) {
					float: right;
					margin-right: 10px;
				}

				a {
					color: inherit;
					text-decoration: none;
				}
			}
			ul {
				display: inline-block;
				float: right;
				@media screen and(max-width: 1000px) {
					display: none;
				}
				li {
					/*@include text-shadow(black);*/
					color: #fff;
					font-size: 1.2rem;
					display: inline-block;
					text-transform: uppercase;
					letter-spacing: 5px;
					margin: 0 10px;
					font-family: Roboto;

					a {
						color: inherit;
						text-decoration: none;
					}
				}
			}
		}
	}
	&#slideShow {
		height: 100%;
		background: linear-gradient(
					rgba(45, 45, 45, 0.5), 
					rgba(45, 45, 45, 0.5)), 
					url("../img/0.jpg") no-repeat center center fixed;
		@include background-size(cover);
	}
	&#calendar {
		width: 100%;
		background: $calendar;
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
		padding: 50px 10px;

		h2 {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 3rem;
			font-family: Roboto;
			color: #ccc;
			letter-spacing: 5px;
		}
		#calendar-container {
			max-width: 1200px;
			margin: auto;

			.date-text {
				height: 80px;
				margin: 0 0 20px 0;
				text-align: center;
			}

			.date-text {
				width: 100%;
				background: red;

				
				h3 {
					font-size: 2.5rem;
				}
			}
		}
	}
	&#gallery {
		width: 100%;
		background: $gallery;
		text-align: center;
		padding: 50px 10px;

		h2 {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 3rem;
			font-family: Roboto;
			color: #ccc;
			letter-spacing: 5px;
		}
		nav {

			button {
				margin: 5px;
				border: 1px solid #ccc;
				color: #ccc;
				background: #fff;
				padding: 5px 20px;
				border-radius: 5px;

				&:hover,
				&.active {
					border: 1px solid #4c4c4c;
					color: #4c4c4c;
				}
				&:focus {
					outline: none;
				}
			}
		}
		#gallery-container {
			max-width: 1200px;
			margin: 25px auto;

			.item {
				width: 33%;
				display: none;
				@include transition(all 0.5s ease);

				img {
					width: 100%;
				}
				&.gallery-active {
					display: inline-block;
				    @include transition(all 0.5s ease);
				}
			}
		}
	}
	&#members {
		background-color: $members;
		text-align: center;
		padding: 50px 0;
		border-top: 1px solid #e5e5e5;
		width: 100%;

		h2 {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 3rem;
			font-family: Roboto;
			color: #ccc;
			letter-spacing: 5px;
		}
		#member-container {
			max-width: 1200px;
			margin: 100px auto 25px;
			position: relative;

        		@include perspective(800px);
        	
			.member-card {
				color: #333333;
				display: inline-block;
				width: 280px;
				height: 420px;
				border-radius: 4px;
				position: relative;
				&.hover {
					
					.card {
						@include transform(rotateY(180deg));
					}
				}
				&:nth-child(2) {
					margin: 0 10px;
				}
				&:nth-child(3) {
					margin: 0 10px 0 0;
				}
				.card {
					background: none repeat scroll 0 0 #FFFFFF;
					@include transition(transform .5s);
					@include transform-style(preserve-3d);
				}
				.front {
					z-index: 2;
					width: 100%;
					height: 420px;
					border-radius: 4px;
					@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.14));
					position: absolute;
					top: 0;
					left: 0;
        			@include backface-visibility(hidden);
					.cover {
						height: 105px;
						overflow: hidden;
						border-radius: 4px 4px 0 0;
						img {
							width: 100%;
						}
					}
					.user {
					  	border-radius: 50%;
						display: block;
						height: 120px;
						margin: -55px auto 0;
						overflow: hidden;
						width: 120px;
						img {
						  	background: none repeat scroll 0 0 #FFFFFF;
							border: 4px solid #FFFFFF;
							width: 100%;
							border-radius: 50%;
						}
					}
					.content {
						background-color: rgba(0, 0, 0, 0);
						box-shadow: none;
						padding: 10px 20px 20px;
						.main {
							min-height: 160px;
							h3 {
								font-size: 1.4rem;
								line-height: 28px;
								margin: 10px 0 0;
								text-align: center;
								text-transform: capitalize;
							}
							p.profession {
								color: #999999;
								text-align: center;
								margin-bottom: 20px;
							}
							h5 {
								text-align: left;
								font-size: 0.9rem;
								line-height: 20px;
								font-weight: 400;
								margin: 5px 0;
								font-weight: 400;
								line-height: 20px;
								i {
									color: #999999;
								}
								a {
									color: inherit;
								}
							}
						}
						.footer {
							border-top: 1px solid #EEEEEE;
							color: #999999;
							margin: 30px 0 0;
							padding: 10px 0 0;
							text-align: center;
							button {
						  		margin-top: -6px;
								opacity: .8;
								color: #666666;
								background-color: transparent;
								display: inline-block;
								padding: 6px 12px;
								margin-bottom: 0;
								font-size: 14px;
								font-weight: normal;
								line-height: 1.428571429;
								text-align: center;
								white-space: nowrap;
								vertical-align: middle;
								cursor: pointer;
								background-image: none;
								border: 1px solid transparent;
								border-radius: 4px;
								-webkit-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								-o-user-select: none;
								user-select: none;			
  								i {
  									font-size: 1rem;
  								}
								&:hover,
								&:focus {
									background-color: transparent;
									box-shadow: none;
									opacity: 1;
								}
							}
						}
					}
				}
				.back {
					width: 100%;
					height: 420px;
					border-radius: 4px;
					@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.14));
					@include backface-visibility(hidden);
					@include transform(rotateY(180deg));
					z-index: 3;
					background-color: #fff;
					.header {
						padding: 15px 20px;
						height: 90px;
						h5 {
							border-bottom: 1px solid #EEEEEE;
							color: #999999;
							padding-bottom: 10px;
							text-align: center;
							margin: 5px 0;
							font-weight: 400;
							line-height: 20px;
							font-size: 0.9rem;
						}
					}
					.content {
						background-color: rgba(0, 0, 0, 0);
						box-shadow: none;
						padding: 10px 20px 20px;
						.main {
							min-height: 160px;
							height: 215px;
							h4 {
								font-size: 1.2rem;
								text-align: center;
								margin: 10px 0;
								font-weight: 500;
							}
							p {
								margin: 0 0 10px;
							}
						}
					}
					.footer {
						border-top: 1px solid #EEEEEE;
						color: #999999;
						margin: 30px 0 0;
						padding: 10px 0 0;
						text-align: center;
						button {
							background-color: transparent;
							margin-top: -6px;
							position: absolute;
							left: 0;
							bottom: 4px;
							display: inline-block;
							padding: 6px 12px;
							margin-bottom: 0;
							font-size: 14px;
							font-weight: normal;
							line-height: 1.428571429;
							text-align: center;
							white-space: nowrap;
							vertical-align: middle;
							cursor: pointer;
							background-image: none;
							border: 1px solid transparent;
							border-radius: 4px;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							-o-user-select: none;
							user-select: none;
							i {
								font-size: 1rem;
							}
						}
						.social-links {
							font-size: 1.2rem;
							text-align: center;
							a {
								margin: 0 7px;
								color: #428bca;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	height: 200px;
	background: $footer;
	text-align: center;

	ul {
		width: 100%;
		position: relative;
		top: calc(50% - 27.5px);

		li {
			font-size: 4rem;
			margin: 0 20px;
			display: inline-block;

			a {
				color: inherit;
			}
			&.facebook {
				color: $facebook;
				&:hover {
					color: lighten($facebook, 10%);
				}
			}
			&.instagram {
				color: $instagram;
				&:hover {
					color: lighten($instagram, 10%);
				}
			}
			&.mail {
				color: $mail;
				&:hover {
					color: lighten($mail, 10%);
				}
			}
		}
	}
}